# TAKE HOME LAB-EXERCISE - 02

(Kaggle games Dataset)

 We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

**TAKE HOME LAB EXERCISE** answer below question.

In [2]:
import pandas as pd
import os

**Q.no(1). load the Data 'games.csv' as games.**

In [7]:
games = pd.read_csv('games.csv')
games

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81307,184441,boardgameexpansion,Micro Rome: Aegyptus,2015.0,1.0,1.0,0.0,30.0,0.0,10.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000
81308,184442,boardgame,Trivial Pursuit: Marvel Cinematic Universe Da...,2013.0,2.0,0.0,0.0,0.0,0.0,12.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000
81309,184443,boardgame,BEARanoia,2015.0,2.0,15.0,1.0,1.0,1.0,0.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000
81310,184449,boardgame,Freight,2015.0,2.0,4.0,60.0,30.0,60.0,8.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000
81311,184451,boardgame,Bingo Animal Kids,2010.0,1.0,6.0,10.0,10.0,10.0,2.0,0,0.00000,0.00000,0,0,0,0,0,0,0.0000

-----

**Q.no(2). Check the head of the DataFrame.**

In [6]:
games.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

-----

**Q.no(3)How many rows and columns are there.**

In [10]:
games.shape

(81312, 20)

-----

**Q.no(4). What is the average Playingtime of all the players in the dataset.**

In [13]:
games['playingtime'].mean()

51.63478827682052

-------------------

**Q.no(5).What is the highest number of comments received for a game.**

In [32]:
games['total_comments'].max()

11798

-------

**Q.no(6).What is the name of the game with id 1500.**

In [16]:
games['name'][games['id']==1500]

10592    Zocken
Name: name, dtype: object

------

**Q.no(7).which year was game with id 1600 was published.**

In [17]:
games['yearpublished'][games['id']==1600]

13270    1986.0
Name: yearpublished, dtype: float64

-----

**Q.no(8).Which game has received highest number of comments.**

In [30]:
games['name'][games['total_comments'] == games['total_comments'].max()]

165     Catan
1965    Catan
Name: name, dtype: object

-----

**Q.no(9).Which games have received least number of comments**

In [29]:
games['name'][games['total_comments']==games['total_comments'].min()]

13048                                           Looney Leo
13054                                                 Dump
13068                                        Field of Fire
13095                                             Matheeno
13103    Auction America: The Trivia Game for Any Colle...
                               ...
81307                                 Micro Rome: Aegyptus
81308    Trivial Pursuit: Marvel Cinematic Universe  Da...
81309                                            BEARanoia
81310                                              Freight
81311                                    Bingo Animal Kids
Name: name, Length: 29001, dtype: object

-----

**Q.no(10).How many unique games are there in the dataset.**

In [23]:
games['name'].value_counts()

                                  16
                                  15
Grand Prix                        11
Arena                             11
Waterloo                          10
                                  ..
Slavika: Zmora                     1
Zwerge                             1
Gravity Trap                       1
RAEj                               1
Olive Oyl I'll Catch my Popeye     1
Name: name, Length: 76035, dtype: int64

----

**Q.no(11).How many boardgames and boardgameexpansions are there in the dataset.**

In [24]:
games['type'].value_counts()

boardgame             70820
boardgameexpansion    10492
Name: type, dtype: int64

----

**Q.no(12) Show the average ratings of games in ascending order.**

In [25]:
games['average_rating'].sort_values(ascending = True)

81311     0.0
46614     0.0
46615     0.0
46616     0.0
46617     0.0
         ...
76117    10.0
76116    10.0
55328    10.0
80276    10.0
64898    10.0
Name: average_rating, Length: 81312, dtype: float64

----

**Q.no(13) Show the average ratings of games in ascending order.**

In [26]:
games['average_rating'].sort_values(ascending = True)

81311     0.0
46614     0.0
46615     0.0
46616     0.0
46617     0.0
         ...
76117    10.0
76116    10.0
55328    10.0
80276    10.0
64898    10.0
Name: average_rating, Length: 81312, dtype: float64

----

**Q.no(14).What is the dense rank order of the games as per there average rating.**

In [28]:
games['average_rating'].rank(method = 'dense')

0        17105.0
1        17041.0
2        17044.0
3        16909.0
4        16788.0
          ...
81307        1.0
81308        1.0
81309        1.0
81310        1.0
81311        1.0
Name: average_rating, Length: 81312, dtype: float64

------

# --------------------------------HAPPY LEARNING---------------------------------------

-------